[submodule "themes/monopriv"]
	path = themes/monopriv
	url = https://gitlab.com/kskarthik/monopriv.git
[submodule "public"]
	path = public
	url = git@github.com:dorin131/dorin131.github.io.git
	branch = master
