<section class="container text-monospace mt-5">
	<div class="container text-center">
		<img class="rounded-circle" src='{{ .Site.Params.img | absURL }}' width="200px"/>
		<h3 class="mt-3">{{ .Site.Title }}</h3>
		<div class='text-secondary' style="margin: 0 auto; max-width: 500px;">{{ .Site.Params.about }}</div>
		<br>
    <div class="bg-white">
      <a target="_blank" href="{{ .Site.Params.github }}" class="badge badge-pill badge-success">Github</a>
      <!-- <a target="_blank" href="{{ .Site.Params.godoc }}" class="badge badge-pill badge-light">GoDoc</a> -->
      <a target="_blank" href="{{ .Site.Params.devto }}" class="badge badge-pill badge-dark">DEV.to</a target="_blank">
      <a target="_blank" href="{{ .Site.Params.youtube }}" class="badge badge-pill badge-danger">YouTube</a target="_blank">
      <a target="_blank" href="{{ .Site.Params.npm }}" class="badge badge-pill badge-info">NPM</a target="_blank">
      <a target="_blank" href="{{ .Site.Params.visualstudio }}" class="badge badge-pill badge-primary">VS Marketplace</a target="_blank">
      <!-- <a target="_blank" href="{{ .Site.Params.medium }}" class="badge badge-pill badge-success">Medium</a target="_blank"> -->
			<!-- <a href="mailto:{{ .Site.Params.email }}" class="badge badge-pill badge-success">Email</a> -->
			<a target="_blank" href="{{ "index.xml" | absURL }}" class="badge badge-pill badge-warning">RSS Feed</a>
    </div>
	</div>
</section>
